body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}
h1 {
    color: black;
    text-align: center;
    font-size: 48px;
    letter-spacing: normal;
    text-transform: capitalize;
}
h2 {
    color: darkgreen;
    margin-top: 30px;
}
img {
    border: 3px solid black;
    display: block;
    margin: auto;
    border-radius: 15px;
}
ul {
    background-color: white;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
.section-title {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
}